h1 { 
    text-align: center;
    color: grey;
}

p {
    color: grey;
    text-align: center;
}

body {
    background: #f9f9f9;
}

* {
    box-sizing: border-box;
}

.container {
    display: inline-flex;
    width: 220px;
    height: 220px;
    padding: 5px;
  }
 
.row {
    justify-content: center;
}
span {
    padding: 10px;
    border: 1px solid lightgray;
    display: inline-block;
}
  